# Porta dell'host esposta per il quiz
PORT=8087

# Sottodominio del quiz
SUBDOMAIN=quiz.linuxbari.it

# Nome della rete Docker utilizzata da Traefik sul tuo server
TRAEFIK_NETWORK=proxy

# Nome del resolver Let's Encrypt configurato in Traefik (es. letsencrypt, myresolver, le)
TRAEFIK_CERTRESOLVER=letsencrypt
